
html {display: block;
    font-size: 15px;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
    color: rgb(34, 34, 34);
    -webkit-text-size-adjust: 100%;
}

html[Attributes Style] {
    -webkit-locale: "ja";
}

meta, script, title, link, style, head {
    display: none;
}

body {display: block;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
    margin: 0;
    padding: 0;
}

.header {display: block;
         padding-top: 15px;
         padding-bottom: 15px;
         background-color: #fff;
         z-index: 10;
}

@media screen and (max-width: 767px){
.content-width {max-width: none;
                padding-left: 20px;
                padding-right: 20px;
}}

.content-width {max-width: 1140px;
                padding-left: 50px;
                padding-right: 50px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
}

.contents-tidy {display: flex;
                justify-content: space-between;
}

.div, .nav, .header-nav, .header-nav-item {
    display: block;
}

.site-header {
    width: 100%;
    position: absolute;
}

@media screen and (max-width: 1080px){
.site-header {
    position: fixed;
    background-color: #fff;
    z-index: 10;
    width: 100%;
}}

.header-width {
    max-width: 100%;
    margin: 0 36px 0 36px;
    position: relative;
}

@media screen and (min-width: 767px){
.hover-opacity {
    transition: opacity 0.2s;
}}

a {color: #222;
   text-decoration: none;
}

@media screen and (min-width: 767px){
a {color: #222;
   text-decoration:none;
}}


.header-logo > .header-logo-sp {
    display: none;
}

.header-logo > .header-logo-pc {
    width: auto;
    height: 20px;
}

img {border: 0;
     vertical-align: middle;
}

.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-header .site-header-inner > *:last-child {
    display: inline-flex;
}

@media screen and (max-width: 1080px){
.header-nav .header-nav-hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
}}

@media screen and (max-width: 1080px){
.header-nav .header-nav-hamburger-line:first-child {
    top: 0;
}}

@media screen and (max-width: 1080px){
.header-nav .header-nav-hamburger-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
}}

@media screen and (max-width: 1080px){
.header-nav .header-nav-hamburger-line:last-child {
    top: 100%;
}}

@media screen and (max-width: 767px){
.header-nav .header-nav-list {
    top: 52px;
}}

@media screen and (max-width: 1080px){
.header-nav .header-nav-list {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform 0.5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-overflow-scrolling: touch;
}}

.header-nav-list.contents-tidy {align-items: center;
}

ul, ol {list-style: none;
}

ul {display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {display: list-item;
    text-align: -webkit-match-parent;
}

.header-nav-item {
    padding: 20px 0;
}

ader-nav .header-nav-item > span:first-child {
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
}

.header-nav .header-nav-item > span:first-child {
    font-family: 'Lato', sans-serif;
}

.header-nav .header-nav-item > span {
    display: block;
    font-weight: bold;
    text-align: center;
}

.header-nav .header-nav-item > span:last-child {
    font-size: 12px;
    margin-top: 10px;
    color: #f79314;
    letter-spacing: 2px;
}

.header-nav .header-nav-item > span:last-child {
    font-size: 10px;
}

header-nav .header-nav-list > li + li {
    margin-left: 0;
}

.header-nav .header-nav-list > li + li {
    margin-left: 30px;
}

.header-nav .header-nav-item {
    padding: 20px 0;
}

.header-nav .header-nav-item {
    display: block;
}

.header-nav-list > li + li:last-child {
    margin-left: 0;
}

.header-button-outline {
    margin-top: 20px;
}

.header-button {margin: 0 auto;
                width: 250px;
}

.link-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #f79314;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: none;
}

.section-top-hero {
    padding-top: 190px;
    padding-bottom: 28px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/top-hero.png);
    background-size: auto 100%;
    background-position: right 0;
    background-repeat: no-repeat;
}

section {display: block;
}

.div {display: block;
}

.top-hero-box {position: relative;
               max-width: 337px;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h1 {display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.top-hero-box, .top-hero-heading > img {
    width: 100%;
    height: auto;
}

.top-hero-box, .top-hero-box {font-size: 20px;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    line-height: 1.7;
}

p {display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.top-hero-box > * + * {margin-top: 30px;
}

.top-box .top-text > span {
    color: #f79314;
}

.link-button.no-subtitle {font-size: 16px;
}

@media screen and (min-width: 767px){
a.link-button {
    color: #fff;
}}

@media screen and (max-width: 1024px){
.top-hero-box .No1-notation {
    top: -168px;
    right: 0;
    left: -28px;
}}

.top-hero-box .No1-notation {
    margin: 0;
    position: absolute;
    top: 0;
    right: -170px;
}

.top-box .No1-notation img {
    width: 154px;
    height: 154px;
}

.section-top-hero .proviso {
    padding-top: 24px;
    color: #888;
    font-size: 10px;
    max-width: 512px;
    padding-top: 132px;
}

.proviso p {
    background-color: inherit;
    color: inherit;
    padding: none;
    background-color: rgba(255, 255, 255, .3);
    color: #000;
    padding: 4px;
}

@media screen and (max-width: 1024px){
.proviso p {
    background-color: rgba(255, 255, 255, .3);
    color: #000;
    padding: 4px;
}}

p {
    line-height: 1.5;
}

.main-section.top-about {
    background-color: #f79314;
    padding-top: 45px;
}

.main-section {
    padding-bottom: 60px;
}

.banner-for-students--pc {display: none;
}

.banner-for-students {width: 100%;
                      margin-bottom: 50px;
}

@media screen and (max-width: 767px){
.banner-for-students--sp {
    display: block;
    margin: 0 0 50px 5px;
}}

.top-about .contents-tidy {align-items: center;
}

@media screen and (max-width: 767px){
.top-about-content {
    flex-direction: column;
}}

@media screen and (max-width: 1024px){
.top-about-content {
    flex-direction: column;
    width: 100%;
}}

@media screen and (max-width: 767px){
.about-text, .top-about-button {
    width: 100%;
}}

@media screen and (max-width: 1024px){
.about-text, .top-about-button {
    width: 100%;
}}

.about-text {
    color: #fff;
    width: 53%;
}

@media screen and (max-width: 767px){
.about-text h2 {
    font-size: 26px;
    text-align: center;
}}

.about-text h2 {font-size: 40px;
                letter-spacing: 1px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.about-text h2 > span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.about-text p {
    font-weight: 700;
    margin-top: 15px;
    line-height: 2.3;
}

.pc-dn {display: none !important;
}

@media screen and (max-width: 1024px){
.about-text + .top-about-button {
    margin-top: 40px;
    width: 250px;
}}

.top-about-button {
    width: 320px;
}

.link-button.inversion {
    color: #f79314;
    background-color: #fff;
    margin-right: 10px;
}

@media screen and (min-width: 767px){
.hover-opacity {
    transition: opacity 0.2s;
}}

.link-button span:first-child {
    letter-spacing: 4px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

.link-button span:last-child {
    font-size: 14px;
}

.main-section {
    padding-top: 75px;
    padding-bottom: 80px;
}

*, *:before, *:after {
    word-break: break-all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
    margin: 0;
    padding: 0;
}

.section-header.contents-tidy {
    flex-direction: column;
    align-items: center;
}

.section-main-heading {
    font-size: 46px;
    font-weight: bold;
}

.section-sub-heading {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.section-header.bottom-line::after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
}

.main-section .section-header + .section-content {
    margin-top: 60px;
}

.section-movie-pc {text-align: center;
}

iframe[Attributes Style] {
    width: 836px;
    height: 470px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.section-movie-sp {
    display: none;
}

.section-header.contents-tidy {
    flex-direction: column;
    align-items: center;
}

.section-header h2 > span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.section-sub-heading > span {
    font-family: 'Lato', sans-serif;
}

.desc-list.list-number {
    margin-top: 110px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.desc-list > li {
    background-color: #fcfaf5;
    border-radius: 20px;
    text-align: center;
    padding: 40px;
}

.list-no {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -90px auto 0 auto;
    background-color: #fcfaf5;
    border-radius: 50%;
    color: #f79314;
    font-weight: bold;
    font-size: 40px;
}

.desc-list .list-title {
    font-weight: bold;
    font-size: 30px;
    margin-top: -20px;
    letter-spacing: 1px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media screen and (max-width: 1080px){
.list-text .sp-dn {
    display: none;
}}

.desc-list .example {
    background-color: #fff;
    width: 100%;
    margin-top: 40px;
    border-radius: 20px;
    padding: 30px;
}

.desc-list .example-title {
    display: inline-block;
}

.example-title-heading {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    vertical-align: bottom;
    line-height: 1;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.desc-list .example-title img {
    margin-left: 10px;
    width: 34px;
    height: auto;
}

.desc-list .example-title::after {
    content: '';
    display: block;
    border-bottom: solid 4px #f79314;
    margin-top: 10px;
}

.desc-list .example-contents {
    margin-top: 15px;
}


.example-contents.contents-tidy {
    flex-wrap: wrap;
}

ol ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

@media screen and (max-width: 1080px){
.desc-list .example-contents > li {
    padding-left: 10px;
    padding-right: 10px;
}}

.desc-list .example-contents > li {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
}

.desc-list .example-contents img {
    width: 100%;
    height: auto;
}

.desc-list > li + li {
    margin-top: 90px;
}

.desc-list > li {
    background-color: #fcfaf5;
    border-radius: 20px;
    text-align: center;
    padding: 40px;
}

.list-no {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -90px auto 0 auto;
    background-color: #fcfaf5;
    border-radius: 50%;
    color: #f79314;
    font-weight: bold;
    font-size: 40px;
}

.desc-list .list-text {
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 1.5px;
    font-weight: 500;
    line-height: 2;
}

.desc-list .list-text span {
    color: #f79314;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    line-height: 1;
}

@media screen and (max-width: 1080px){
.desc-list .example.performance {
    padding: 30px;
}}

.desc-list .example.performance {
    padding: 40px 70px;
}

@media screen and (max-width: 1080px){
.desc-list .example-list {
    margin: 0 -30px;
}}

.desc-list .example-list {
    margin: 0 -60px;
}

@media screen and (max-width: 1080px){
.desc-list .example-list > li {
    padding: 0 30px;
}}


.desc-list .example-list > li {
    padding: 0 60px;
    width: calc(100% / 3);
    display: flex;
}

.desc-list .example-list img {
    width: 100%;
    height: -webkit-fill-available;
}

@media screen and (max-width: 1080px){
.desc-list .example-list > li {
    padding: 0 30px;
}}

.desc-list .list-text {
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 1.5px;
    font-weight: 500;
    line-height: 2;
}

.engineer-list {
    margin-top: 45px;
    margin-left: -15px;
    margin-right: -15px;
}

.engineer-list .engineer-box {
    background-color: #fff;
    border-radius: 15px;
    margin: 0 15px;
    width: calc(100% / 3);
}

.engineer-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding: 20px;
}

.engineer-conpany-logo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.engineer-conpany-logo > img {
    width: 100%;
}

img[Attributes Style] {
}

.engineer-profile {
    display: flex;
    align-items: center;
    width: 100%;
}

.engineer-name.contents-tidy {
    flex-direction: column;
}

.engineer-name {text-align: start;
                margin-left: 15px;
                font-size: 20px;
}

.engineer-name > span {color: #f79314;
                       font-size: 14px;
}

.engineer-text {
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: start;
}

.engineer-text::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 29px;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #f6f6f6;
}

.main-section.top-potepan {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #f6f6f6;
}

.main-section.top-potepan > * {
    position: relative;
    z-index: 1;
}

.top-potepan .content-width {
    background-image: url(../images/bg-section-top-course.png);
    background-size: 281px 275px;
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) top;
    padding-top: 35px;
}

.section-header {width: 100%;
}

.section-header h2 > span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.pc-dn {
    display: none !important;
}

on-sub-heading {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.-heading {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.course-media {font-weight: bold;
               padding: 30px;
               background-color: #fff;
}

.course-media.open .course-title {
    border-image: linear-gradient(to right, #ff6d00 0%, #f79214 100%);
    border-image-slice: 1;
}

.course-title.contents-tidy {justify-content: center;
                             align-items: center;
}

.course-title {width: 30%;
               margin-left: -50px;
               margin-right: 30px;
               border: solid 3px;
}

.course-title h3 {font-size: 24px;
                  text-align: center;
}

.course-contents {width: calc(70% + 30px);
                  position: relative;
}

.course-media.open .course-text {color: #f79314;
}

.course-text {font-size: 16px;
              line-height: 1;
}

.course-contents > div {margin-top: 20px;
}

.course-contents > div p {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background: linear-gradient(90deg, #212121, #444);
    padding: 2px 20px;
    border-radius: 20px;
}

.conditions-list {
    margin-top: 7px;
    padding-bottom: 20px;
}

.list-marker {
    margin-left: 1.9em;
    text-indent: -1.9em;
}

.list-marker::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #f79214;
    margin: 0 10px;
}

.course-link {
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 12px;
    color: #999;
}

@media screen and (min-width: 767px){
.hover-text-color {transition: 0.2s;
}}

.course-link::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 4px;
    right: -18px;
    border-right: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(45deg);
}

.course-media.career .course-text {
    color: #f75307;
}

.section-button {margin-top: 60px;
                 width: 300px;
                 margin-left: auto;
                 margin-right: auto;
}

@media screen and (min-width: 767px){
a.link-button {
    color: #fff;
}}

@media screen and (min-width: 767px){
.hover-opacity {
    transition: opacity 0.2s;
}}

.link-button span:last-child {font-size: 14px;
}

.main-section.top-service, .main-section.top-works {
    background-color: #fcfaf5;
}

.main-section {padding-top: 75px;
               padding-bottom: 80px;
}

@media screen and (max-width: 1024px){
.message-title {
    font-size: 32px;
    background: -webkit-linear-gradient(0deg, #ff802c, #f79214);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}}

.message-title {
    display: inline-block;
    font-size: 50px;
    color: #ff802c;
    background: -webkit-linear-gradient(0deg, #ff802c, #f79214);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    letter-spacing: 3px;
    position: relative;
    z-index: 1;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.message-contents.contents-tidy {align-items: center;
}

@media screen and (max-width: 1024px){
.message-contents {
    flex-direction: column;
    position: relative;
    background-color: #fff;
    padding: 45px 40px 40px;
}}

.message-contents {
    margin-top: -20px;
    position: relative;
}

@media screen and (max-width: 1024px){
.message-text {
    padding: 0;
    margin-right: 0;
    margin-top: 30px;
    order: 2;
}}

.message-text {
    background-color: #fff;
    padding: 40px 150px 40px 40px;
    margin-right: -100px;
}

body {-webkit-font-smoothing: antialiased;
}

html {-webkit-text-size-adjust: 100%;
}

.message-text p {line-height: 2;
                 font-weight: 500;
}

.message-text p + p {margin-top: 40px;
}

@media screen and (max-width: 1024px){
.message-thumbnail {
    order: 1;
}}

.message-thumbnail {position: relative;
}

.message-thumbnail p {
    position: absolute;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 10px #808080;
}

.message-thumbnail p span {font-size: 24px;
}

@media screen and (max-width: 1024px){
.message-thumbnail > img {
    width: 100%;
}}

@media screen and (max-width: 840px){
.interview-list {
    padding-left: 80px;
    padding-right: 80px;
}}

@media screen and (max-width: 1070px){
.interview-list {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 160px;
    padding-right: 160px;
}}

@media screen and (max-width: 1070px){
.interview-list > li {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}}

.interview-list > li {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% / 3);
}

.interview-media .interview-media-thumbnail {
    position: relative;
    padding-top: 100%;
}

.interview-media-thumbnail {
    overflow: hidden;
}

.interview-media .interview-media-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (min-width: 767px){
.hover-scale {
    transition: transform 0.2s;
}}

.pc-dn {
    display: none !important;
}

.interview-media .interview-thumbnail-titlebox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 80px 20px 15px;
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
}

.interview-media .interview-thumbnail-titlebox .interview-thumbnail-title {
    font-size: 16px;
    font-weight: bold;
    color: #f79314;
}

.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle .name {
    font-size: 20px;
}

.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle > *:last-child {
    font-size: 12px;
    margin-left: 15px;
}

.interview-media .interview-media-text {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    line-height: 1.8;
}

@media screen and (max-width: 1070px){
.interview-list > li + li {
    margin-top: 20px;
    padding-top: 30px;
    border-top: solid 1px #efefef;
}}

@media screen and (max-width: 1070px){
.interview-list > li {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}}

.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
    padding-top: 4px;
    border-top: 1px solid #fff;
}

@media screen and (min-width: 767px){
a:hover .hover-text-color, .hover-text-color:hover {
    color: #f79314;
}}

.section-button {
    margin-top: 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 767px){
a.link-button {/* color: #fff; */
}}

@media screen and (min-width: 767px){
.hover-opacity {
    transition: opacity 0.2s;
}}

@media screen and (min-width: 767px){
a.link-button {
    /* color: #fff; */
}}

.main-section.top-service, .main-section.top-works {
    background-color: #fcfaf5;
}

.CorporationInterview__pickup {
    position: absolute;
    width: 121px;
}

.CorporationInterview__thumbnail--pc {
    display: block;
}

.CorporationInterview__thumbnail {
    width: 100%;
}

.CorporationInterview__thumbnail--sp {
    display: none;
}

.service-list {
    margin-right: -20px;
    margin-left: -20px;
}

.service-list > li {
    padding-right: 20px;
    padding-left: 20px;
    width: calc(100% / 3);
}

.service-media-text {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
}

.service-media-thumbnail.green {
    border-color: #08af77;
}

.service-media-thumbnail {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: solid 2px;
    border-radius: 10px;
    padding: 0 20px;
    height: 190px;
    box-sizing: border-box;
}

.site-footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #f79314;
}

footer {display: block;
}

.page-top-button.contents-tidy {
    align-items: center;
    justify-content: center;
}

.page-top-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -105px;
    right: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 12px 30px -15px;
    transition: 0.2s;
}

.page-top-arrow {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-left: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(45deg);
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.site-footer-main .footer-nav {order: 2;
}

.footer-nav-item:link, .footer-nav-item:visited {
    color: #fff;
}

.footer-nav-item {font-size: 16px;
                  font-weight: bold;
                  color: #fff;
}

.footer-nav-item > span {
    font-weight: normal;
    margin-left: 1em;
}

li {display: list-item;
    text-align: -webkit-match-parent;
}

.footer-nav > li + li {
    margin-top: 30px;
}

.site-footer-main .footer-character {
    order: 3;
    align-self: flex-end;
}

.footer-character > img {
    width: auto;
    height: 70px;
}

.site-footer-main .footer-info {order: 1;
}

.footer-info {display: block;
              color: #fff;
}

address {font-style: normal;
}

.footer-info .footer-logo {
    display: inline-block;
    max-width: 280px;
}

@media screen and (min-width: 767px){
.hover-opacity {
    transition: opacity 0.2s;
}}

.footer-info .footer-logo > img {
    width: 100%;
    height: auto;
}

.footer-info .footer-logo + .footer-company {
    margin-top: 25px;
}

.footer-info .footer-company, .footer-info .footer-address {
    font-size: 16px;
    font-weight: bold;
}

.footer-info .footer-company + .footer-address {
    margin-top: 10px;
}

.footer-info .footer-address + .footer-social {
    margin-top: 35px;
}

.footer-info .footer-social-item {
    display: block;
    max-width: 60px;
}

@media screen and (min-width: 767px){
.hover-opacity {
    transition: opacity 0.2s;
}}

.footer-info .footer-social-item > img {
    width: 100%;
    height: auto;
}

.footer-info .footer-social > li + li {
    margin-left: 20px;
}

.footer-info .footer-social-item {
    display: block;
    max-width: 60px;
}

@media screen and (min-width: 767px){
.hover-opacity {
    transition: opacity 0.2s;
}}

.site-footer .site-footer-main + .site-footer-sub {
    margin-top: 60px;
}

.footer-copyright {
    color: #fff;
    font-size: 12px;
}

small {
    font-size: smaller;
}

